.Profile{
    width:300px;
    height: 620px;
    background-color: rgb(224,106,140);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.ProfileImage{
    width:170px;
    border-radius: 50%;
    margin-bottom: 25px;
}
.ProfileName{
    font-size: 25px;
    color:white;
    font-weight: bold;
}
/*
.ProfileNameChange{
    color:white;
    font-weight: bold;
    background-color: rgb(255,174,197);
    border-radius: 5px;
    width:40px;
    padding: 2px;
    text-align: center;
    font-size: 11px;
    margin-top: 10px;
}*/
.MadeBy{
    color :RGB(255 168 192);
    font-weight: bold;
    position: absolute;
    bottom: 20px;
}