//일정관리 + 전체 틀

.TodoTemplate {
  background-color: rgb(248,219,228);
  width: 512px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 620px;
}
.app-title {
  background-color: rgb(248,219,228);
  color: black;
  height: 100px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  font-weight: bold;
}
.content {
  background-color: rgb(248,219,228);
}
.TodoLength{
  font-weight: bold;
  font-size: 15px;
  margin: 20px 0;
}
a{
  color:RGB(225 88 127);
  font-weight: bold;
}